.lineup-text h4 {
  font-size: 1.2em;
  margin-top: 1em;
}

.lineup-text h4 + p {
  margin-top: 0.5em;
}

.appendix-text h3 {
  font-size: 1.5em;
  margin-top: 1em;
}

.appendix-text h3 + p {
  margin-top: 1em;
}
